#pozadina{
    top:0;
    background-image: url("image/hotel.jpg");
    background-repeat: no-repeat;
    background-size: 100% 605px;
    width: 100%;
    height: 605px;
    background-color: rgba(0, 0, 0,0.9);
    display: grid;
    grid-template-columns: auto;
  
}
#title{
    color: white;
    text-align: center;
    padding-top: 130px;
    font-size: 90px;
   
}
#rezlink{
    padding: 10px  15px 10px 15px;
    border-radius: 15px;
    background-color: white;
    font-size: 38px;
    color: #0071c2;
    text-decoration: none;
   
}
#rezlink:hover{
    background-color: #0071c2;
    color: white;
    
}

.hlink{
    padding: 5px  15px 5px 15px;
    border-radius: 30px;
    background-color: #0071c2;
    font-size: 30px;
    color:white;
    text-decoration: none;
    text-align: center;
    
}
.hlink:hover{
    background-color: white;
    color: #0071c2;
    
}
#pomjeri{
    text-align: center;
    margin-top: -20px;
}
.paragraf{
    text-align: center;
    font-size: 40px;
    color: white;
    padding-top: 50px;
    
}
